:root.theme-dark {
  --text-basic-color: rgb(241,178,206);
  --title-basic-color: rgb(0,0,40);
  --accent-color: rgb(255,0,112);
  --bg-color: rgb(0,0,40);
  --decor-color: rgb(219,0,255);
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    background-image: url(../images/cover-image-dark.png); 
  }
}

.page.theme_dark {
  --text-basic-color: rgb(241,178,206);
  --title-basic-color: rgb(0,0,40);
  --accent-color: rgb(255,0,112);
  --bg-color: rgb(0,0,40);
  --decor-color: rgb(219,0,255);
  background-image: url(../images/cover-image-dark.png); 
}